{% extends "base/base.html" %}

{% load staticfiles %}

{% block titulo %}Apolo{% endblock titulo %}

{% block content %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
  <a class="navbar-brand" id="Titulo" href="{% url 'usuarios:index' %}"><img src="{% static 'assets/img/logo5.png' %}" width="140" height="50" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class=" navbar-nav ml-auto">
			<li class="nav-item">
					<a class="nav-link" href="{% url 'admon:inicio'%}">admin</a>
					</li>
	  <li class="nav-item active">
		<a class="nav-link" href="#section1">¿Qué somos? <span class="sr-only">(current)</span></a>
		</li>
	  <li class="nav-item">
		<a class="nav-link" href="{% url 'user:login'%}">Entrar</a>
	  </li>
	</ul>
  </div>
</nav>

<div id="amplia" class="mt-5 row">
	<div class="col-m-9 col-lg-12">
		<div id="fondoJ" class="centrar  espandeDivs jumbotron">
			<br>
			<h1 class="text-center  titulos">¡Bienvenido!</h1>
			<p class="text-center subTitulo">Apolo es una herramienta para determinar la competitividad de una empresa</p>
			<hr class="my-4">
			<p class="d-none d-lg-block">Se detectan las fortalezas y debilidades, además se ofrece un plan de mejoramiento para el fortalecimiento de las falencias encontradas.</p>
			<p class="lead">
				<a class=" btn btn-primary btn-lg" href="{% url 'user:registro'%}" role="button">Registrarme</a>
			</p>
		</div>
	</div>
</div>

<div id="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
	<div class="row espandeDivs">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<h2>¿Cómo funciona?</h2>
			<p class="text-justify">Mediante la metodología del Banco Interamericano de Desarrollo se evaluan las distintas áreas que componen una empresa, cada área tiene un conjunto de preguntas para medir los indicadores acordes al área.</p>
		</div>
		<div class="d-none d-lg-block col-lg-6">
			<h2>Imagen</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>
	</div>
</div>
<div id="section2" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px">
	<div class="row espandeDivs">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<h2>Texto explicativo #2</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>
		<div class="d-none d-lg-block col-lg-6">
			<h2>Imagen</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>
	</div>
</div>

<footer class="page-footer font-small unique-color-dark pt-0">

    <!--Footer Links-->
    <div class="container mt-5 mb-4 text-center text-md-left">
        <div class="row mt-3">

            <!--First column-->
            <div class="col-md-3 col-lg-4 col-xl-3 mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Apolo</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>Here you can use rows and columns here to organize your footer content. Lorem ipsum dolor sit
                    amet, consectetur adipisicing elit.</p>
            </div>
            <!--/.First column-->

            <!--Second column-->
            <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Sitio oficial</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="http://camaratulua.org/">Cámara de Comercio Tuluá</a>
                </p>
              
            </div>
            <!--/.Second column-->

            <!--Third column-->
            <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Utilidad</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <a href="#!">Your Account</a>
                </p>
                <p>
                    <a href="#!">Become an Affiliate</a>
                </p>
                <p>
                    <a href="#!">Shipping Rates</a>
                </p>
                <p>
                    <a href="#!">Help</a>
                </p>
            </div>
            <!--/.Third column-->

            <!--Fourth column-->
            <div class="col-md-4 col-lg-3 col-xl-3">
                <h6 class="text-uppercase font-weight-bold">
                    <strong>Contacto</strong>
                </h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                    <i class="fa fa-home mr-3"></i> New York, NY 10012, US</p>
                <p>
                    <i class="fa fa-envelope mr-3"></i> info@example.com</p>
                <p>
                    <i class="fa fa-phone mr-3"></i> + 01 234 567 88</p>
                <p>
                    <i class="fa fa-print mr-3"></i> + 01 234 567 89</p>
            </div>
            <!--/.Fourth column-->

        </div>
    </div>
    <!--/.Footer Links-->

    <!-- Copyright-->
    <div class="footer-copyright py-3 text-center">
        © 2018 Copyright
    </div>
    <!--/.Copyright -->

</footer>
<!--/.Footer-->


{% endblock content %}

{% block modales %}

{% endblock modales %}


{% block script %}

	{% if señal %}
		<script>
				$('#exampleModal').modal('show')
		</script>
	{% endif %}
	
	
{% endblock script %}
	