{% extends "base/base.html" %}

{% load staticfiles %}

{% block titulo %}Apolo{% endblock titulo %}

{% block content %}

<nav class="navbar navbar-expand-lg fixed-top navbar-light bg-white">
  <a class="navbar-brand" id="Titulo" href="{% url 'usuarios:index' %}"><img src="{% static 'assets/img/logo5.png' %}" width="140" height="50" class="d-inline-block align-top" alt=""></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	<span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class=" navbar-nav ml-auto">
			<li class="nav-item">
					<a class="nav-link" href="{% url 'admon:inicio'%}">admin</a>
					</li>
	  <li class="nav-item active">
		<a class="nav-link" href="#section1">¿Qué somos? <span class="sr-only">(current)</span></a>
		</li>
	  <li class="nav-item">
		<a class="nav-link" href="{% url 'user:login'%}">Entrar</a>
	  </li>
	</ul>
  </div>
</nav>

<div id="amplia" class="mt-5 row">
	<div class="col-m-9 col-lg-12">
		<div id="fondoJ" class="centrar  espandeDivs jumbotron">
			<br>
			<h1 class="text-center  titulos">¡Bienvenido!</h1>
			<p class="text-center subTitulo">Apolo es una herramienta para determinar la competitividad de una empresa</p>
			<hr class="my-4">
			<p class="d-none d-lg-block">Se detectan las fortalezas y debilidades, además se ofrece un plan de mejoramiento para el fortalecimiento de las falencias encontradas.</p>
			<p class="lead">
				<a class=" btn btn-primary btn-lg" href="{% url 'user:registro'%}" role="button">Registrarme</a>
			</p>
		</div>
	</div>
</div>

<div id="section1" class="container-fluid bg-success" style="padding-top:70px;padding-bottom:70px">
	<div class="row espandeDivs">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<h2>¿Cómo funciona?</h2>
			<p class="text-justify">Mediante la metodología del Banco Interamericano de Desarrollo se evaluan las distintas áreas que componen una empresa, cada área tiene un conjunto de preguntas para medir los indicadores acordes al área.</p>
		</div>
		<div class="d-none d-lg-block col-lg-6">
			<h2>Imagen</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>
	</div>
</div>
<div id="section2" class="container-fluid bg-danger" style="padding-top:70px;padding-bottom:70px">
	<div class="row espandeDivs">
		<div class="col-sm-12 col-md-12 col-lg-6">
			<h2>Texto explicativo #2</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>
		<div class="d-none d-lg-block col-lg-6">
			<h2>Imagen</h2>
			<p>Nullam quis risus eget <a href="#">urna mollis ornare</a> vel eu leo. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id dolor id nibh ultricies vehicula.</p>
			<p><small>This line of text is meant to be treated as fine print.</small></p>
			<p>The following is <strong>rendered as bold text</strong>.</p>
			<p>The following is <em>rendered as italicized text</em>.</p>
			<p>An abbreviation of the word attribute is <abbr title="attribute">attr</abbr>.</p>
		</div>
	</div>
</div>
{% endblock content %}

{% block modales %}

{% endblock modales %}


{% block script %}

	{% if señal %}
		<script>
				$('#exampleModal').modal('show')
		</script>
	{% endif %}
	
	
{% endblock script %}
	