{% extends "base/base.html" %}
{% load staticfiles %}
{% block titulo %}Apolo{% endblock titulo %}

{% block css %}
    <link rel="shortcut icon" href="{% static "assets/img/logo4.png"%}">
    <link rel="stylesheet" href="{% static "assets/css/style.css" %}">
    <style>
    body {
        font-family: 'Roboto', Arial, sans-serif;
        font-size: 13px;
        line-height: 1.42857143;
        color: #404040;
        background-color: #EEEEEE;
    }
    </style>
       
{% endblock css %}

{% block content %}
<nav class="navbar border navbar-expand-lg fixed-top navbar-light bg-white">
    <a class="navbar-brand" id="Titulo" href="{% url 'user:index' %}"><i class="material-icons">cloud</i>  APOLO</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
	<ul class=" navbar-nav ml-auto">
	  <li class="nav-item active">
		<a class="nav-link" href="#section1">¿Qué somos? <span class="sr-only">(current)</span></a>
	  </li>
	  <li class="nav-item">
		<a class="nav-link" href="{% url 'user:login'%}">Entrar</a>
	  </li>
	</ul>
  </div>
</nav>


<div id="section1" class="container-fluid" >
    {% if Mensaje != '' %}
        <div class="row">
            <div class="col-lg-12">
                <div class="alert alert-{{tipo}} alert-dismissible fade show" role="alert">
                  <strong>Santo guacamole!</strong> {{Mensaje}}.
                  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
            </div>
        </div>
    {% endif %}   
    
    <div class="ml-auto">
        <div class="col-ml-8">
            <div class="panel panel-default">
            <div class="panel-heading panel-heading-divider">Registro<span class="panel-subtitle">These are the basic bootstrap form elements</span></div>
            <div class="panel-body">
                <form method="post" style="border-radius: 0px;" class="form-horizontal group-border-dashed">
                    {% csrf_token %}
                   <!-- {{form.as_p}} -->
                 {{form.non_field_errors}}
                <div class="form-group">
                    {{form.first_name.errors}}
                    <label for="form.first_name.id_for_label" class="col-sm-3 control-label">Nombres</label>
                    <div class="col-sm-6">
                    {{form.first_name}}
                    </div>
                </div>
                <div class="form-group">
                        {{form.last_name.errors}}
                        <label for="form.last_name.id_for_label" class="col-sm-3 control-label">Apellidos</label>
                        <div class="col-sm-6">
                        {{form.last_name}}
                        </div>
                </div>
                <div class="form-group">
                        {{form.username.errors}}
                        <label for="form.username.id_for_label" class="col-sm-3 control-label">Correo electrónico</label>
                        <div class="col-sm-6">
                        {{form.username}}
                        </div>
                </div>
                <div class="form-group">
                    {{form.password.errors}}
                    <label for="form.password.id_for_label" class="col-sm-3 control-label">Contraseña</label>
                    <div class="col-sm-6">
                        {{form.password}}                   
                    </div>
                </div>
                <div class="form-group">
                        <label class="col-sm-3 control-label">Confirmar contraseña</label>
                        <div class="col-sm-6">                            
                        <input type="password" name="c_contraseña" class="form-control">
                        </div>
                </div>
                {{form.date_joined}} 
                {{form.is_active}} 
                {{form.is_staff}} 
                {{form.is_superuser}} 
                {{form.last_login}} 
                <button type="submit" class="btn btn-primary" name="button">Registro</button>                                
                </form>
            </div>
            </div>
        </div>
    </div>             
{% endblock content %}

{% block modales %}

{% endblock modales %}

{% block script %}

{% endblock script %}
